.header {
    margin-top: 92px;
    margin-left: 24px;
    display: flex;
    width: 1052px;
    height: 105px;
}

.header_menu {
    margin-top: 44px;
    margin-left: 26.52px;
    max-width: 391px;
    text-underline-offset: 5px;
}

.header__link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 391.48px;
    font-size: large;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__link_active {
    text-decoration: none;
}

.logo {
    margin-left: 36px;
}

.logo-image {
    width: 148px;
    height: 105px;
}

.address {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 184px;
    max-width: 240px;
    font-style: normal;
    font-size: large;
    text-underline-offset: 5px;
    max-height: 98px;
    gap: 5px;
}

.cover {
    z-index: -1;
    position: relative;
    margin-top: 96px;
    max-width: 1100px;
    max-height: 757px;
}

.overlay {
    z-index: 1;
    position: absolute;
}

.cover_img {
    z-index: -1;
    position: relative;
    background-position: center;
    background-size: cover;
    min-width: 1100px;
    min-height: 757px;
}